# Environment files
.env
**/.env

# Python
/__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
!venv/.venv-used
!.venv/.venv-used
.winvenv/
!.winvenv/.venv-used

# Logs and temp files
*.log
*.tmp
*.bak

tubuin/output_artifacts/**
tambak-core/good.py
tambak-core/src-copy/**/*
.mds/

.vscode/

tambak-core/target/**/*
RustLib/target/**/*

/*.md
/**/*.mpk
/**/*.zst
/**/*.phx
/**/*.parquet